<div class="questionForm">
		<div class="col-lg-11 col-lg-offset-1">
			<h1>Enter The Question :</h1>
		</div>
		<form class="form-horizontal" ng-controller= "AdminCtrl">
	  		<div class="form-group">
	    		<label class="control-label col-sm-2" for="language">Language:</label>
	    			<div class="col-sm-4">
	      				<input type="text" class="form-control" id="language" placeholder="Enter Language" ng-model="question.language">
	    			</div>
	  		</div>
	  		<div class="form-group">
	    		<label class="control-label col-sm-2" for="title">Title:</label>
	    			<div class="col-sm-4"> 
	      				<input type="text" class="form-control" id="title" placeholder="Enter Title" ng-model= "question.title">
	    			</div>
	  		</div>
	  		<div class="form-group">
	    		<label class="control-label col-sm-2" for="option1">Option1:</label>
	    			<div class="col-sm-4"> 
	      				<input type="text" class="form-control" id="option1" placeholder="Enter Option1" ng-model="question.option1">
	    			</div>
	  		</div>
	  		<div class="form-group">
	    		<label class="control-label col-sm-2" for="option2">Option2:</label>
	    			<div class="col-sm-4"> 
	      				<input type="text" class="form-control col-sm-8" id="option2" placeholder="Enter Option2" ng-model="question.option2">
	    			</div>
	  		</div>
	  		<div class="form-group">
	    		<label class="control-label col-sm-2" for="option3">Option3:</label>
	    			<div class="col-sm-4"> 
	      				<input type="text" class="form-control col-sm-8" id="option3" placeholder="Enter Option3" ng-model="question.option3">
	    			</div>
	  		</div>
	  		<div class="form-group">
	    		<label class="control-label col-sm-2" for="option4">Option4:</label>
	    			<div class="col-sm-4"> 
	      				<input type="text" class="form-control col-sm-8" id="option4" placeholder="Enter Option4" ng-model="question.option4">
	    			</div>
	  		</div>
	  		<div class="form-group">
	    		<label class="control-label col-sm-2" for="answer">Answer:</label>
	    			<div class="col-sm-4"> 
	      				<input type="text" class="form-control" id="answer" placeholder="Enter Answer" ng-model="question.answer">
	    			</div>
	  		</div>
	  		<div class="form-group"> 
	    		<div class="col-sm-offset-2 col-sm-10">
	      			<button type="submit" class="btn btn-primary" ng-click="save(question)">Submit</button>
	    		</div>
	  		</div>
		</form>
	</div>
</div>